body {
    font-family: Montserrat;
}

.container {
    max-width: 1160px;
    padding: 0 380px;
}

.the-ham {
    background-image: url(../img/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.logo {
    display: flex;
    align-items: center;

    text-decoration: none;
}

.logo .logo-wrapper {
    position: relative;

}

.logo .logo-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.logo .the {
    font-size: 32px;
    font-weight: 400;
    padding-left: 6px;
    color: #fff;
}

.logo .the .ham {
    font-weight: 700;
    color: #18CFAB;
}

.header-list {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}


.header-list .header-item {
    padding-left: 21px;
}

.header-list a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

}



.header-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding: 49px 0;

}

.header-link:hover img {
    filter: invert(64%) sepia(73%) saturate(2127%) hue-rotate(121deg) brightness(101%) contrast(81%);
}

.the-ham-text {

    color: #fff;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 251px;
}

.the-ham-text .the-ham-title {
    padding-bottom: 22px;
    font-size: 35px;

}

.the-ham-text .creative {
    font-size: 78px;
    padding-bottom: 22px;
}

.the-ham-text .turquoise {
    color: #18CFAB;
}

.the-ham-text .just-buy {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.btn-wrapper {
    padding-top: 122px;
    padding-bottom: 243px;
    text-align: center;
}

.btn {
    width: 169px;
    height: 63px;
    border-radius: 5px;
    background-color: #18CFAB;
    border: none;
    cursor: pointer;
    color: #fff;

    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    transform-style: preserve-3d;
}

.btn::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
    border: none;
    top: -5px;
    left: 0;
    transform: translateZ(-1px);
}

.purchase-now {
    margin-left: 26px;
    background-color: #00CBF6;
}

.our-service .options-wrapper {
    display: flex;
    width: 100%;
    height: 370px;
    margin-top: 8px;
}

.our-service .options-wrapper .option {
    width: 25%;
}

.content-wrapper {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-family: Montserrat;
    text-transform: uppercase;
}

.our-service .options-wrapper .option:nth-child(2n) {
    background: rgba(24, 207, 171, 1);
    color: rgba(255, 255, 255, 1);
    padding-top: 97px;
}

.our-service .options-wrapper .option:nth-child(2n) p {
    padding-top: 59px;
}

.our-service .options-wrapper .option:nth-child(2n+1) {
    background: rgba(28, 42, 51, 1);
    color: rgba(24, 207, 171, 1);
    padding-top: 87px;
}

.our-service .options-wrapper .option:nth-child(2n+1) p {
    padding-top: 48px;
}

.section-title {
    padding-top: 92px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    color: rgba(78, 78, 78, 1);
}

.line {
    width: 76px;
    height: 1px;
    position: relative;
    background-color: rgba(24, 207, 171, 1);
    margin: 26px auto 0;
    border: none;
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(24, 207, 171, 1);
    width: 76px;
    height: 1px;
    top: 3px;
    left: 12px;
    border: none;
}

.our-service-content {
    margin-top: 67px;
}

.tabs-title-list {
    display: flex;
    border-top: 1px solid rgba(237, 239, 239, 1);
    border-bottom: 1px solid rgba(237, 239, 239, 1);
    background: rgba(248, 252, 254, 1);
}

.tabs-title-item {
    width: calc(100%/6);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    padding: 17px 0;
    border: 1.5px solid transparent;
    /* border-left: 1px solid rgba(237, 239, 239, 1); */
    position: relative;
    cursor: pointer;
}

.border-right {
    border-right: 1px solid rgba(237, 239, 239, 1);
}

.tabs-title-item:hover {
    border: 1.5px solid rgba(24, 207, 171, 1);
}

.tabs-title-item-choose {
    background-color: rgba(24, 207, 171, 1);
    position: relative;
    color: rgba(255, 255, 255, 1);
    border-color: rgba(24, 207, 171, 1);
}

.tabs-title-item-choose::after {
    content: url('../img/Rectangle\ 60.png');
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabs-content-list {
    margin-top: 27px;
    margin-bottom: 91px;
}

.tabs-content-list img {
    width: 192px;
    height: 144px;
}

.tabs-content-item {
    display: none;
}

.tabs-content-item:first-child {
    display: flex;
}

.tab-content-desc {
    padding-left: 13px;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: rgba(119, 119, 119, 1);
}

.purchase {
    background-image: url(../img/Layer\ 21\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.purchase .purchase-now {
    background-color: #18CFAB;
    margin: 62px 0 128px 0;

}

.title-purchase {
    font-weight: 700;
    font-size: 40px;
    color: rgba(24, 207, 171, 1);
    padding-top: 126px;
    text-transform: uppercase;
    line-height: 40px;
}

.purchase-desc {
    font-weight: 400;
    line-height: 40px;
    font-size: 16px;
    color: rgba(216, 216, 216, 1);
    padding-top: 12px;
}

.our-amazing-work {
    background-color: rgba(233, 237, 239, 1);
}

.work-list {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 69px;
    margin: 65px auto 69px;
    width: fit-content;
    border: 1px solid rgba(218, 218, 218, 1);
    column-gap: 1px;
}

.work-list .work-item {
    font-weight: 400;
    font-size: 14px;
    color: rgba(113, 113, 113, 1);
    border: 2px solid transparent;
    border-left: 1px solid rgba(218, 218, 218, 1);
    padding: 14px 15px;
    line-height: 42px;
    cursor: pointer;
    /* position: relative; */
}

/* .work-item::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgba(218, 218, 218, 1);
    top: 0;
    left: 0;
}

.work-item::after:first-child {
    content: none;
} */

.work-list .work-item-all {
    padding: 14px 28px;
    border-left: none;
}

.work-list .active-work {
    border: 2px solid rgba(24, 207, 171, 1);
    color: rgba(24, 207, 171, 1);
}

/* .image-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.image-item-wrapper {
   
    width: 25%;
    text-align: center;
}

.image-hover {
    position: absolute;
    width: 25%;
    text-align: center;
    background: #E9EDEF;
}

.image-hover {
    display: block;
}

.image-item:hover .image-hover {
    display: block;
} */

.image-list {
    display: flex;
    flex-wrap: wrap;

}

.image-list-item {
    position: relative;
    width: 25%;

}

.image-item {
    width: 100%;
    height: 100%;
}

.image-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #E9EDEF;
    z-index: -1;
}

.image-ellipse-wrapper {
    position: relative;
    display: inline-block;
    height: 42px;
}

.image-ellipse-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #E9EDEF;
}

.image-ellipse-hover {
    display: none;
    width: 43px;
    height: 42px
}

.image-ellipse-wrapper:hover .image-ellipse-transparent {
    display: none;
}

.image-ellipse-wrapper:hover .image-ellipse-hover {
    display: block;
}

.image-list-item:hover .image-hover {
    z-index: 2;
}

.image-line {
    position: absolute;
    left: 2px;
    top: -1px;
    width: 100%
}

.image-icon {
    margin-top: 40px;
}

.image-item-text1 {
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    color: rgba(24, 207, 171, 1);
    text-transform: uppercase;
    margin-top: 24px;
}

.image-item-text2 {
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
    color: rgba(138, 138, 138, 1);
}

.btn-image-wrapper {
    text-align: center;
    padding: 70px 0 99px 0;
}

.btn-image {
    width: 168px;
    height: 63px;
    border-radius: 5px;
    background-color: rgba(24, 207, 171, 1);
    border: none;
    cursor: pointer;
}

.btn-image-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    padding-left: 15px;
}

.breaking-news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 33px;
    row-gap: 44px;
    padding-top: 68px;
    padding-bottom: 130px;
}

.breaking-news-link {
    text-decoration: none;
    display: inline-block;
}

.breaking-news-link:hover .breaking-news-item-title {
    color: #18CFAB;
}

.breaking-news-link:hover .breaking-news-img-date {
    background-color: rgba(24, 207, 171, 1);
    color: rgba(255, 255, 255, 1);
}

.breaking-news-text-wrapper {
    padding: 3px 0 1px 15px;
}

.breaking-news-item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    color: rgba(113, 113, 113, 1);
    padding-top: 3px;
}

.breaking-news-item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.line-comment {
    padding: 0 15px;
}

.breaking-news-img-wrapper {
    position: relative;
}

.breaking-news-img-date {
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    height: 65px;
    background-color: rgba(32, 62, 56, 1);
}

.breaking-news-img-date .date {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 7.5px 0;
}

.what-people-say {
    background-image: url(../img/Layer\ 333.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.what-people-say .section-title {
    color: rgba(255, 255, 255, 1);
}

.what-people-say-text {
    text-align: center;
    padding-top: 66px;
    display: none;
}

.what-people-say-text .text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: rgba(187, 187, 187, 1);
    padding: 37px 0;

}

.what-people-say-text .name {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(24, 207, 171, 1);
    text-transform: uppercase;
    padding-bottom: 38px;
}

.what-people-say-text .job {
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    color: rgba(187, 187, 187, 1);
    text-transform: none;
}

.image-person {
    position: relative;
    margin: 0 auto;
    width: fit-content;
}

.image-person-image {
    position: absolute;
    left: 0;
    transform: translate(10px, 10px);
    width: 143px;
    height: 142px;
}

.roundabout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 99px;
}

.arrow {
    width: 31px;
    height: 31px;
    border: 1px solid rgba(187, 187, 187, 1);
    color: rgba(187, 187, 187, 1);
}

.arrow:hover {
    background-color: rgba(24, 207, 171, 1);
}

.arrow-direction {
    padding: 9px 11px;
    cursor: pointer;
}

.roundabout-image-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    border-radius: 60px;
}

.roundabout-image-wrapper:last-child {
    margin-right: 25px;
}

.roundabout-image {
    position: absolute;
    left: 0;
    transform: translate(4px, 4px);
}

.active {
    top: -14px;
    box-shadow: 0px 0px 10px 0px rgba(247, 237, 247, 1);
    transition-duration: 1s;
}

.footer {
    background-color: #22353F;
    width: 100%;
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    padding: 47px 0;
    text-align: center;
}

.footer .the {
    color: #18CFAB;
}

